/*sitewide link properties*/
a {
    text-align: center;
    font-weight: bold;
    display: block;
    font-size: 2em;
    width: 100%;
    background: white;
    text-decoration: none;
}

a:visited {color: black;}
a:hover {}
a:active {}
a:visited {}

/*sitewide list properties*/
ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/*logo properties*/
.logo {
    background: white;
    height: 100%;
    width: 100%;
    margin-top: 1em;
}

/*dropdown menu button styling*/
.navbutton {
    width: 2em;
    height: 2em;
    display: block;
    margin: 0 auto;
}

/*navigation bar styling and exclusive properties*/
.navbar {
    width: 100%;
    background: rgba(0,0,0,0.7);
    display: block;

        ul {
            width: 100%;
            margin: 0 auto;
            li {
                border-bottom: 1px solid grey;
            }
        }
}
  
@media screen and (min-width: 768px){

};

/*
@media screen and (min-width: 992px){
        .logo {
            width: 20%;
            float: left;
        }
        
        .navigation {
            background: white;
            ul {
                list-style: none;
                width: 68%;
                float: left;
                li {
                    font-weight: bold;
                    display: inline;
                    font-size: 3em;
                    margin-right: 1em;
                }
                li:last-of-type {
                    margin-right: 0;
                }
            }       
        }
        
        #hero {
            background-image: url("../img/pexels-photo-51415.jpeg");
            background-position: center center;
            background-attachment: fixed;
            background-size: cover;
            .inner{
              background: rgba(0,0,0,0.7);
              .content {
                  text-align: center;
                  font-weight: 700;
                  font-size: 6em;
                  p {
                      color: white;
                  }
              }
            }
        }
        
        .footer {
            width: 100%;
            ul {
                list-style: none;
                li {
                    display: inline;
                    img {
                        height: 4em;
                        width: 5em;
                    }
                }
            }
            p {
                font-size: 0.7em;
                color: grey;
                font-weight: 300;
                margin-left: 3em;
            }
        }
        
};*/