a {
    text-align: center;
    font-weight: bold;
    display: block;
    font-size: 2em;
    width: 100%;
    background: white;
    text-decoration: none;
}

a:visited {color: black;}
a:hover {}
a:active {}
a:visited {}

ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.logo {
    background: white;
    height: 100%;
    width: 100%;
    margin-top: 1em;
}

.content {
    text-align: center;
    line-height: 0.5em; 
    font-weight: bold;
    font-size: 3.5em;
    width: 100%;
    height: 100%;
    display: table;
}

.hometxt {
    font-weight: 500;
    font-size: 0.4em;
    line-height: 0.1em;
}
.emphasize {
    font-weight: bold;
    color: green;
}

.navbutton {
    width: 2em;
    height: 2em;
    display: block;
    margin: 0 auto;
}

.navtrigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.navtrigger:checked ~ .navbar {
    opacity: 1;
    height: 100%;
    transition: opacity 0.4s;
}

.footnote {
    text-align: center;
    color: grey;
    font-size: 0.7em;
}

.navbar {
    width: 100%;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    height: 0;
    display: block;

        ul {
            width: 100%;
            margin: 0 auto;
            li {
                border-bottom: 1px solid grey;
            }
        }
}
  
.inner{
        min-height: 13em;
        background: rgba(0,0,0,0.7);
}
    
#hero {
    background-image: url("../img/pexels-photo-51415.jpeg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    p {
        color: white;
    }
}

#hero2 {
    background-image: url("../img/pexels-photo-311458.jpeg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    p {
        color: white;
    }
}


.txtblock {
    background: white;
}

.fontwhite {
    color: white;
}

.footer {
    .fb{
        background: lightblue;
    }
    .in{
        background: darkblue;
    }
    .tw{
        background: cyan;
    }
}

@media screen and (min-width: 768px){
 
};

/*
@media screen and (min-width: 992px){
        .logo {
            width: 20%;
            float: left;
        }
        
        .navigation {
            background: white;
            ul {
                list-style: none;
                width: 68%;
                float: left;
                li {
                    font-weight: bold;
                    display: inline;
                    font-size: 3em;
                    margin-right: 1em;
                }
                li:last-of-type {
                    margin-right: 0;
                }
            }       
        }
        
        #hero {
            background-image: url("../img/pexels-photo-51415.jpeg");
            background-position: center center;
            background-attachment: fixed;
            background-size: cover;
            .inner{
              background: rgba(0,0,0,0.7);
              .content {
                  text-align: center;
                  font-weight: 700;
                  font-size: 6em;
                  p {
                      color: white;
                  }
              }
            }
        }
        
        .footer {
            width: 100%;
            ul {
                list-style: none;
                li {
                    display: inline;
                    img {
                        height: 4em;
                        width: 5em;
                    }
                }
            }
            p {
                font-size: 0.7em;
                color: grey;
                font-weight: 300;
                margin-left: 3em;
            }
        }
        
};*/