a{
    text-decoration: none;
    color: black;
}
a:visited {color: black;}
a:hover {}
a:active {}
a:visited {}

body {
    background-image: url(https://static.pexels.com/photos/51415/pexels-photo-51415.jpeg);
    background-attachment: fixed;
    background-position:center center;
}

@media screen and (min-width: 480px){
        .logo {
            margin: 1.5em;
        }
        
        .navigation {
            ul {
                list-style: none;
                float:left;
                li {
                    font-weight: bold;
                    display: inline;
                    font-size: 2em;
                    margin-right: 0.5em;
                }
            }       
        }
 
        
        .footer {
            width: 100%;
            ul {
                list-style: none;
                li {
                display: inline;
                    img {
                        height: 3.5em;
                        width: 3.5em;
                    }
                }
            }
            p {
                font-size: 0.7em;
                color: grey;
                font-weight: 300;
                padding-left: 3.5em;
            }
        }
        
};

@media screen and (min-width: 768px){
        .logo {
            margin: 1.5em;
        }
        
        .navigation {
            ul {
                list-style: none;
                float:left;
                li {
                    font-weight: bold;
                    display: inline;
                    font-size: 2em;
                    margin-right: 0.5em;
                }
            }       
        }
 
        
        .footer {
            width: 100%;
            ul {
                list-style: none;
                li {
                display: inline;
                    img {
                        height: 3.5em;
                        width: 3.5em;
                    }
                }
            }
            p {
                font-size: 0.7em;
                color: grey;
                font-weight: 300;
                padding-left: 3.5em;
            }
        }
        
};

@media screen and (min-width: 992px){
        .logo {
            width: 20%;
            float: left;
        }
        
        .navigation {
            background: white;
            height: 100px;
            ul {
                list-style: none;
                width: 68%;
                float: left;
                background: red;
                li {
                    font-weight: bold;
                    display: inline;
                    font-size: 3em;
                    margin-right: 1em;
                }
                li:last-of-type {
                    margin-right: 0;
                }
            }       
        }
        
        .slideshow {
            background: grey;
            opacity: 0;
        }
        
        .footer {
            width: 100%;
            ul {
                list-style: none;
                li {
                    display: inline;
                    img {
                        height: 5em;
                        width: 5em;
                    }
                }
            }
            p {
                font-size: 0.7em;
                color: grey;
                font-weight: 300;
                margin-left: 1.4em;
            }
        }
        
};