/*hero images*/
/*green backlit keyboard*/
#hero {
    background-image: url("../img/pexels-photo-51415.jpeg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

/*multicoloured cacti*/
#hero2 {
    background-image: url("../img/pexels-photo-311458.jpeg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

/*ffxiv*/
#hero3 {
    background-image: url("../img/ffxiv_03122017_190610.png");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#hero4 {
    background-image: url("../img/ffxiv_20072017_010349.png");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}