/*hero images*/
/*green backlit keyboard*/
#hero {
    background-image: url("../img/pexels-photo-51415.jpeg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

/*multicoloured cacti*/
#hero2 {
    background-image: url("../img/pexels-photo-311458.jpeg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}